altgraph==0.17.5
cffi==2.0.0
charset-normalizer==3.4.7
comtypes==1.4.16
cryptography==46.0.7
et_xmlfile==2.0.0
fire==0.7.1
fonttools==4.62.1
ImageIO==2.37.3
lazy-loader==0.5
lxml==6.0.4
networkx==3.6.1
numpy==2.4.4
opencv-python-headless==4.13.0.92
openpyxl==3.1.5
packaging==26.2
pandas==3.0.2
pdf2docx==0.5.12
pdfminer.six==20251230
pdfplumber==0.11.9
pefile==2024.8.26
pillow==12.1.1
platformdirs==4.9.2
pycparser==3.0
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
PyMuPDF==1.27.1
PyPDF2==3.0.1
pypdfium2==5.7.0
PySide6==6.11.1
PySide6_Addons==6.11.1
PySide6_Essentials==6.11.1
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-pptx==1.0.2
pywin32==311
pywin32-ctypes==0.2.3
reportlab==4.4.10
setuptools==82.0.1
shiboken6==6.11.1
six==1.17.0
termcolor==3.3.0
tifffile==2026.5.15
typing_extensions==4.15.0
tzdata==2026.1
xlsxwriter==3.2.9